body {
  font-family: sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: left;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
  background-color: #eee;
}

tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
