:root {
  /*
    Variable para la propiedad background. Esta es una entrada abreviada para las propiedades en este orden:
    background-image
    background-position / background-size
    background-repeat
    background-colour
  */
  --checkbox-checked: url('../assets/images/check.png') center / 0.5rem
    no-repeat #288cff;
  --checkbox-side: 1rem;
  --checkbox-border: 1px solid #ced4da;
  --checkbox-radius: 0.3rem;
  --checkbox-label-before-left: -1.5rem;
}

body {
  font: 18px/1.5 sans-serif;

  background: #f8fafc;
}

.codica-control {
  padding-left: 2rem;
}

.codica-checkbox {
  position: absolute;

  opacity: 0;
}

/* BEGIN (write your solution here) */
.codica-checkbox-label {
  position: relative;
  cursor: pointer;
}

.codica-checkbox-label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: var(--checkbox-label-before-left);
  width: var(--checkbox-side);
  height: var(--checkbox-side);
  border: var(--checkbox-border);
  border-radius: var(--checkbox-radius);
  background: #fff;
}

.codica-checkbox-label:hover::before {
  background: var(--checkbox-checked);
  opacity: 0.5;
}

.codica-checkbox:checked ~ .codica-checkbox-label::before {
  background: var(--checkbox-checked);
  opacity: 1;
}
/* END */
