* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    color: #303846;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;

    background: #f0f3f4;
}

.p-2 {
    padding: 2em;
}

.mr-1 {
    margin-right: 1em;
}

.font-2 {
    font-size: 2em;
}

.font-bold {
    font-weight: bold;
}

.bg-light {
    background: #f7f7f7;
}

.justify-content-between {
    justify-content: space-between;
}

.mt-2 {
    margin-top: 2em;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e0dfdf;
}

.nav-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-horizontal a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.nav-horizontal .active-link {
    color: #424e75;
}

.nav-horizontal a:hover {
    color: #c44741;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.catalog {
    display: flex;
    flex-wrap: wrap; /* permite saltos de línea */
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.catalog-item {
    flex: 1 1 100%;   /* Base: móviles (<600px) → 1 por fila */
    max-width: 100%;
    margin: 5px;
    padding: 10px 25px;

    background: #f9f9f9;
    border: 1px solid #e8e8e8;
}

.catalog-item .img {
    height: 150px;
}

.catalog-item-name {
    font-weight: bold;
    font-size: 1.2em;
}

.catalog-item-price {
    color: #666;
    font-weight: bold;
}

/* Entre 600px y 1199px → 2 por fila */
@media (min-width: 600px) and (max-width: 1199px) {
    .catalog-item {
        flex: 1 1 50%;
        max-width: 50%;
        margin: 0; /* sin espacio entre tarjetas */
    }
}

/* Desde 1200px → 3 por fila, flexibles */
@media (min-width: 1200px) {
    .catalog-item {
        flex: 1 1 32%;
        max-width: 400px; /* límite de ancho */
        margin: 5px;      /* deja un pequeño espacio entre ellas */
    }
}
