:root {
  --font-size: 27px;
  --line-height: 37.5px;
}

/* Conecta las fuentes personalizadas */

/* BEGIN (write your solution here) */
@font-face {
  font-family: Caveat;
  src: url('../assets/fonts/Caveat-Regular.ttf');
}

@font-face {
  font-family: Marckscript;
  src: url('../assets/fonts/MarckScript-Regular.ttf');
}
/* END */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  background-color: #4db6ac;
}

.notebook {
  position: relative;

  /* Estilos para .notebook: tamaño, padding y box-sizing */

  /* BEGIN (write your solution here) */
  width: 750px;
  height: 700px;
  padding-top: 50px;
  box-sizing: border-box;
  /* END */

  word-spacing: 6px;

  background-color: #fff;
  box-shadow: 4px 6px 16px 3px #009688;
}

.notebook::before {
  position: absolute;
  top: 0;
  left: 50px;

  width: 2px;
  height: 100%;

  background-color: #ff5722;

  content: '';
}

/* Estilos para .paper: márgenes internos, tipografía y líneas del fondo */

/* Estilos para la firma del autor */

/* BEGIN (write your solution here) */
.paper {
  height: 100%;
  padding: 0 60px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-image: repeating-linear-gradient(
    #fff,
    #fff calc(var(--line-height) - 1px),
    #80cbc4 calc(var(--line-height) - 1px),
    #80cbc4 var(--line-height)
  );
}

pre {
  margin: 0;
  padding-top: 10px;
  font-family: Caveat, cursive;
}

.author {
  font-family: Marckscript, cursive;
  text-align: right;
}
/* END */
