/* Carga la fuente Rubik en dos grosores */

/* BEGIN (write your solution here) */
@font-face {
    font-weight: 400;
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-Regular.ttf") format("ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik-Bold.ttf") format("ttf");
}
/* END */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    /* Estilos globales: fuente, color y fondo */

    /* BEGIN (write your solution here) */
    font-family: Rubik;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    background-color: #e5e5e5;
  /* END */
}

.calendar {
    width: 250px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    background-color: #1e1f25;
    border-radius: 12px;
}

.calendar-header {
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.calendar-date {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 2;
    border-bottom: 1px solid #313131;
}

td {
    color: #ccc;
    text-align: center;
    padding: 0;
    line-height: 2.3;
    cursor: pointer;
}

.calendar-todo {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-time {
    font-size: 10px;
    color: #ccc;
}

.todo-name {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}

.rounded-green {
    color: #fff;

    background: #589c5f;
    border-radius: 50%;
}