.background-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* BEGIN (write your solution here) */
    width: 300px;
    height: 200px;
    color: #e1bee6;
    font-size: 24px;
    font-weight: bold;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
}
