html {
    color: #8a94a7;
    line-height: 1.5;
    font-family: sans-serif;
    background: #1d2026;

    /* BEGIN (write your solution here) */
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Ocupa toda la pantalla y elimina márgenes y rellenos */

    /* BEGIN (write your solution here) */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    /* Quita márgenes y agrega relleno arriba y abajo usando rem */

    /* BEGIN (write your solution here) */
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

ul {
    /* Quita márgenes y agrega espacio vertical con rem */

    /* BEGIN (write your solution here) */
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Estilos para la tarjeta de precios .card */

/* BEGIN (write your solution here) */
.card {
    width: 16.6rem;
    padding: 2.5rem 2rem;
    background-color: #2c3039;
}

.card-list {
    font-size: 0.8rem;
}

.price {
    font-size: 1rem;
    line-height: 1;
}

span {
    color: white;
    font-size: 3em;
}

h3 {
    color: white;
    font-size: 0.9em;
}

.btn {
    display: block;
    padding: 1em 0;
    color: white;

    /* Tamaño de fuente pequeño relativo al html */

    /* BEGIN (write your solution here) */
    font-size: 0.7rem;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-blue {
    background-color: #097dea;
}

.mt-1 {
    margin-top: 1rem;
}

.border-bottom {
    border-bottom: 1px solid rgb(138 148 167 / 24%);
}
