/* Carga la fuente Raleway en sus dos variantes */

/* BEGIN (write your solution here) */
@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway-Bold.ttf");
    font-weight: bold;
}
/* END */

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;

    color: #eee;

    /* Fuente base: Raleway, tamaño 20px, interlineado 1.5 */
    /* BEGIN (write your solution here) */
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    /* END */

    background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
}

img {
    max-width: 100%;

    vertical-align: middle;
}

a {
    color: inherit;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #00adb5;
    font-size: 1.5em;
}

.tabs {
    width: 1024px;
    margin: 0 auto;
    display: block;

  /* Divide el contenedor en 3 columnas sin espacio entre ellas */

  /* BEGIN (write your solution here) */
    columns: 3;
    column-gap: 0;
  /* END */
}

/* Estilos para las pestañas y su contenido: diseño, interacción y visualización */

/* BEGIN (write your solution here) */
.tab-name {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background: #00adb5;
    color: white;
    display: block;
}

.tab-name:hover,
.tab-name:focus {
    border-bottom: 3px solid #5ffbf1;
    outline: none;
}

.tabs-content {
    background: #393e46;
    column-span: all;
}

.tabs-content-item {
    display: none;

    padding: 20px;
    columns: 3;
    column-gap: 30px;
}

.tab-name[data-tab="html"]:hover ~ .tabs-content [data-tab-content="html"],
.tab-name[data-tab="html"]:focus ~ .tabs-content [data-tab-content="html"] {
    display: block;
}

.tab-name[data-tab="css"]:hover ~ .tabs-content [data-tab-content="css"],
.tab-name[data-tab="css"]:focus ~ .tabs-content [data-tab-content="css"] {
    display: block;
}

.tab-name[data-tab="js"]:hover ~ .tabs-content [data-tab-content="js"],
.tab-name[data-tab="js"]:focus ~ .tabs-content [data-tab-content="js"] {
    display: block;
}
/* END */

.span-all {
    column-span: all;
}